<!DOCTYPE html>
<html>
<head>
  <title>Bookmark App</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="header">
    <form action="/bookmark/search/" method="get">
      <input type="text" name="search" placeholder="Search..."><button><img src="/SearchIcon.png"></button>
    </form>
    <h1><a href="/bookmark">Bookmarker</a><small><a href="/bookmark/new">new bookmark</a></small></h1>
  </div>
  <%= yield %>
</body>
</html>