<!DOCTYPE html>
<html>
<head>
  <title>Bookmark App</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class='header'>
    <nav>
      <ul>
        <a href="/bookmark">All Bookmarks</a>
        <a href="/bookmark/new">New Bookmark</a>
      </ul>
    </nav>
    <h1>Bookmark App</h1>
  </div>
  <%= yield %>
</body>
</html>