<form class='new_form' action="/bookmark" method="post">
  <h1>New Bookmark</h1>
  <input type="text" name="name" placeholder="Title">
  <input type="text" name = "url" placeholder="URL">
  <input type="text" name="genre" placeholder="Genre">
  <button>Add Bookmark</button>
</form>